<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="searchifyApiUrl" value="the first part of your url, e.g. XXXXX.api.searchify.com"/>
        <add key="searchifyKey" value="the basic auth password in your private url, e.g. http://:XXXXXXXXXXXXXXX@abcde.api.searchify.com"/>
    </appSettings>
</configuration>